Repository seabed-labs/pre-authorized-debit: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run eslint --fix, yarn run prettier --write, cargo lint:fix:fmt

feat: approve delegate in init pad (#38)
  program-tests/pre-authorized-debit-v1/close-pre-authorization.test.ts
  program-tests/pre-authorized-debit-v1/debit/oneTime.shared.ts
  program-tests/pre-authorized-debit-v1/debit/recurring.shared.ts
  program-tests/pre-authorized-debit-v1/init-pre-authorization.test.ts
  program-tests/pre-authorized-debit-v1/tsconfig.json
  program-tests/pre-authorized-debit-v1/update-pause-pre-authorization.test.ts
  programs/pre-authorized-debit-v1/src/instructions/init_pre_authorization.rs
  sdk/pre-authorized-debit-v1/src/anchor-client/instructions/initPreAuthorization.ts
Due: yarn run eslint --fix, yarn run prettier --write, cargo lint:fix:fmt

fix: update e2e test script
  scripts/e2e.ts
Due: yarn run eslint --fix, yarn run prettier --write

fix: update e2e test script again
  scripts/e2e.ts
Due: yarn run eslint --fix, yarn run prettier --write

chore: modify e2e test script to account for pre-existing smart-delegate account
  scripts/e2e.ts
Due: yarn run eslint --fix, yarn run prettier --write

chore: bump program version to 1.0.0
  Cargo.lock
  programs/pre-authorized-debit-v1/Cargo.toml
Due: none

chore: update program pubkey in files
  Anchor.toml
  programs/pre-authorized-debit-v1/src/lib.rs
  scripts/e2e.ts
Due: yarn run eslint --fix, yarn run prettier --write, cargo lint:fix:fmt

chore: events
  scripts/e2e.ts
  scripts/logs.txt
  scripts/package.json
  scripts/parseLogs.ts
  yarn.lock
Due: yarn run eslint --fix, yarn run prettier --write

chore: verify events script
  scripts/verifyMainnetEvents.ts
Due: yarn run eslint --fix, yarn run prettier --write

chore: use on chain IDL
  scripts/verifyMainnetEvents.ts
Due: yarn run eslint --fix, yarn run prettier --write

chore: delete old sscript and add fetch on chain IDL script
  scripts/fetchOnChainIdl.ts
  scripts/parseLogs.ts
Due: yarn run eslint --fix, yarn run prettier --write

fix: disable parallel testing
  program-tests/pre-authorized-debit-v1/utils.ts
  scripts/test.js
Due: yarn run eslint --fix, yarn run prettier --write

fix: un-batch tests
  .github/workflows/program-tests.yml
  program-tests/pre-authorized-debit-v1/init-smart-delegate.test.ts
Due: yarn run eslint --fix, yarn run prettier --write

Revert "fix: un-batch tests"
  .github/workflows/program-tests.yml
  program-tests/pre-authorized-debit-v1/init-smart-delegate.test.2.ts
Due: yarn run eslint --fix, yarn run prettier --write

Update readme.md
  readme.md
Due: none

fix: try changing test pattern to include all tests
  .github/workflows/program-tests.yml
Due: none

chore: split tests to 3 batches in CI
  .github/workflows/program-tests.yml
Due: none

fix: CI batching
  .github/workflows/program-tests.yml
Due: none

chore: 4 batches in CI
  .github/workflows/program-tests.yml
  package.json
  scripts/test.js
Due: yarn run eslint --fix, yarn run prettier --write

feat: efficient CI
  .github/workflows/program-tests.yml
  scripts/test.js
Due: yarn run eslint --fix, yarn run prettier --write

feat: modify e2e script with more testing
  scripts/e2e.ts
Due: yarn run eslint --fix, yarn run prettier --write

feat: add interface & types for instruction factory
  sdk/pre-authorized-debit-v1/src/write/InstructionFactory.ts
  sdk/pre-authorized-debit-v1/src/write/index.ts
  sdk/pre-authorized-debit-v1/src/write/shared.ts
Due: yarn run eslint --fix, yarn run prettier --write

feat: add execute method to Tx Factory result type
  sdk/pre-authorized-debit-v1/src/write/shared.ts
Due: yarn run eslint --fix, yarn run prettier --write

feat: add setup, core, cleanup IX structure in tx factory return type object
  sdk/pre-authorized-debit-v1/src/write/shared.ts
Due: yarn run eslint --fix, yarn run prettier --write

feat: add buildActivateSmartDelegateIx to IX factory since that is a core IX even though it happens outside of the PAD program
  sdk/pre-authorized-debit-v1/src/write/InstructionFactory.ts
Due: yarn run eslint --fix, yarn run prettier --write

feat: init jest
  sdk/pre-authorized-debit-v1/babel.config.json
  sdk/pre-authorized-debit-v1/coverage/clover.xml
  sdk/pre-authorized-debit-v1/coverage/coverage-final.json
  sdk/pre-authorized-debit-v1/coverage/lcov-report/base.css
  sdk/pre-authorized-debit-v1/coverage/lcov-report/block-navigation.js
  sdk/pre-authorized-debit-v1/coverage/lcov-report/favicon.png
  sdk/pre-authorized-debit-v1/coverage/lcov-report/index.html
  sdk/pre-authorized-debit-v1/coverage/lcov-report/prettify.css
  sdk/pre-authorized-debit-v1/coverage/lcov-report/prettify.js
  sdk/pre-authorized-debit-v1/coverage/lcov-report/sort-arrow-sprite.png
  sdk/pre-authorized-debit-v1/coverage/lcov-report/sorter.js
  sdk/pre-authorized-debit-v1/coverage/lcov.info
  sdk/pre-authorized-debit-v1/jest.config.ts
  sdk/pre-authorized-debit-v1/package.json
  sdk/pre-authorized-debit-v1/src/index.test.ts
  sdk/pre-authorized-debit-v1/tsconfig.json
  yarn.lock
Due: yarn run eslint --fix, yarn run prettier --write

chore: ignore coverage folder
  sdk/pre-authorized-debit-v1/.gitignore
  sdk/pre-authorized-debit-v1/coverage/clover.xml
  sdk/pre-authorized-debit-v1/coverage/coverage-final.json
  sdk/pre-authorized-debit-v1/coverage/lcov-report/base.css
  sdk/pre-authorized-debit-v1/coverage/lcov-report/block-navigation.js
  sdk/pre-authorized-debit-v1/coverage/lcov-report/favicon.png
  sdk/pre-authorized-debit-v1/coverage/lcov-report/index.html
  sdk/pre-authorized-debit-v1/coverage/lcov-report/prettify.css
  sdk/pre-authorized-debit-v1/coverage/lcov-report/prettify.js
  sdk/pre-authorized-debit-v1/coverage/lcov-report/sort-arrow-sprite.png
  sdk/pre-authorized-debit-v1/coverage/lcov-report/sorter.js
  sdk/pre-authorized-debit-v1/coverage/lcov.info
Due: yarn run eslint --fix, yarn run prettier --write

ci: optimize program-tests ci
  .github/workflows/program-tests.yml
  Anchor.toml
Due: none

feat: InstructionFactory and TransactionFactory interfaces
  sdk/pre-authorized-debit-v1/src/write/InstructionFactory.ts
  sdk/pre-authorized-debit-v1/src/write/TransactionFactory.ts
  sdk/pre-authorized-debit-v1/src/write/params.ts
Due: yarn run eslint --fix, yarn run prettier --write

refactor: move stuff around
  sdk/pre-authorized-debit-v1/src/shared.ts
  sdk/pre-authorized-debit-v1/src/write/interfaces/InstructionFactory.ts
  sdk/pre-authorized-debit-v1/src/write/interfaces/TransactionFactory.ts
  sdk/pre-authorized-debit-v1/src/write/interfaces/params.ts
  sdk/pre-authorized-debit-v1/src/write/interfaces/shared.ts
Due: yarn run eslint --fix, yarn run prettier --write

feat: add read client interface
  sdk/pre-authorized-debit-v1/src/read/index.ts
  sdk/pre-authorized-debit-v1/src/read/interface/index.ts
  sdk/pre-authorized-debit-v1/src/shared.ts
  sdk/pre-authorized-debit-v1/src/write/interface/InstructionFactory.ts
  sdk/pre-authorized-debit-v1/src/write/interface/TransactionFactory.ts
  sdk/pre-authorized-debit-v1/src/write/interface/params.ts
  sdk/pre-authorized-debit-v1/src/write/interface/shared.ts
Due: yarn run eslint --fix, yarn run prettier --write

feat: create a shell implementation for the read client
  sdk/pre-authorized-debit-v1/src/constants.ts
  sdk/pre-authorized-debit-v1/src/read/implementation/index.ts
  sdk/pre-authorized-debit-v1/src/read/interface/index.ts
  sdk/pre-authorized-debit-v1/src/write/interface/shared.ts
Due: yarn run eslint --fix, yarn run prettier --write

feat: first stab at SDK read client
  sdk/pre-authorized-debit-v1/src/errors.ts
  sdk/pre-authorized-debit-v1/src/read/implementation/index.ts
  sdk/pre-authorized-debit-v1/src/read/interface/index.ts
Due: yarn run eslint --fix, yarn run prettier --write

feat: init jest (#39)
  .github/workflows/program-tests.yml
  Anchor.toml
  sdk/pre-authorized-debit-v1/.gitignore
  sdk/pre-authorized-debit-v1/babel.config.json
  sdk/pre-authorized-debit-v1/jest.config.ts
  sdk/pre-authorized-debit-v1/package.json
  sdk/pre-authorized-debit-v1/src/index.test.ts
  sdk/pre-authorized-debit-v1/tsconfig.json
  yarn.lock
Due: yarn run eslint --fix, yarn run prettier --write

chore: export read client
  sdk/pre-authorized-debit-v1/src/read/index.ts
Due: yarn run eslint --fix, yarn run prettier --write

feat: export write client
  sdk/pre-authorized-debit-v1/src/write/index.ts
  sdk/pre-authorized-debit-v1/src/write/interface/index.ts
  sdk/pre-authorized-debit-v1/tests/index.test.ts
  sdk/pre-authorized-debit-v1/tsconfig.json
Due: yarn run eslint --fix, yarn run prettier --write

chore: fix tsconfig
  sdk/pre-authorized-debit-v1/tsconfig.json
Due: none

feat: run sdk tests in CI
  .github/workflows/program-tests.yml
  .github/workflows/sdk-tests.yaml
Due: none

feat: add dummy test
  sdk/pre-authorized-debit-v1/babel.config.json
  sdk/pre-authorized-debit-v1/jest.config.ts
  sdk/pre-authorized-debit-v1/package.json
  sdk/pre-authorized-debit-v1/src/index.ts
  sdk/pre-authorized-debit-v1/tests/index.test.ts
  yarn.lock
Due: yarn run eslint --fix, yarn run prettier --write

Path conditions:
  yarn run eslint --fix: (any of: *.js) or (any of: *.ts)
  yarn run prettier --write: (any of: *.js) or (any of: *.ts)
  cargo lint:fix:fmt: any of: *.rs
