Repository seabed-labs/pre-authorized-debit: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run eslint --fix, yarn run prettier --write, cargo lint:fix:clippy, cargo lint:fix:fmt

.lintstagedrc:

{
  "*.js": ["yarn run eslint --fix", "yarn run prettier --write"],
  "*.ts": ["yarn run eslint --fix", "yarn run prettier --write"],
  "*.rs": ["cargo lint:fix:clippy", "cargo lint:fix:fmt"]
}

chore: make formatting consistent
  .eslintrc
  .lintstagedrc
  .prettierrc
  package.json
  program-tests/pre-authorized-debit-v1/close-pre-authorization.test.ts
  program-tests/pre-authorized-debit-v1/close-smart-delegate.test.ts
  program-tests/pre-authorized-debit-v1/debit/oneTime.shared.ts
  program-tests/pre-authorized-debit-v1/debit/recurring.shared.ts
  program-tests/pre-authorized-debit-v1/init-pre-authorization.test.ts
  program-tests/pre-authorized-debit-v1/init-smart-delegate.test.ts
  program-tests/pre-authorized-debit-v1/update-pause-pre-authorization.test.ts
  program-tests/pre-authorized-debit-v1/utils.ts
  sdk/pre-authorized-debit-v1/src/anchor-client/accounts/PreAuthorization.ts
  sdk/pre-authorized-debit-v1/src/anchor-client/accounts/SmartDelegate.ts
  sdk/pre-authorized-debit-v1/src/anchor-client/accounts/index.ts
  sdk/pre-authorized-debit-v1/src/anchor-client/errors/anchor.ts
  sdk/pre-authorized-debit-v1/src/anchor-client/errors/custom.ts
  sdk/pre-authorized-debit-v1/src/anchor-client/errors/index.ts
  sdk/pre-authorized-debit-v1/src/anchor-client/instructions/closePreAuthorization.ts
  sdk/pre-authorized-debit-v1/src/anchor-client/instructions/closeSmartDelegate.ts
  sdk/pre-authorized-debit-v1/src/anchor-client/instructions/debit.ts
  sdk/pre-authorized-debit-v1/src/anchor-client/instructions/index.ts
  sdk/pre-authorized-debit-v1/src/anchor-client/instructions/initPreAuthorization.ts
  sdk/pre-authorized-debit-v1/src/anchor-client/instructions/initSmartDelegate.ts
  sdk/pre-authorized-debit-v1/src/anchor-client/instructions/updatePausePreAuthorization.ts
  sdk/pre-authorized-debit-v1/src/anchor-client/types/DebitAuthorizationType.ts
  sdk/pre-authorized-debit-v1/src/anchor-client/types/InitPreAuthorizationParams.ts
  sdk/pre-authorized-debit-v1/src/anchor-client/types/InitPreAuthorizationVariant.ts
  sdk/pre-authorized-debit-v1/src/anchor-client/types/PausePreAuthorizationEventData.ts
  sdk/pre-authorized-debit-v1/src/anchor-client/types/PreAuthorizationClosedEventData.ts
  sdk/pre-authorized-debit-v1/src/anchor-client/types/PreAuthorizationCreatedEventData.ts
  sdk/pre-authorized-debit-v1/src/anchor-client/types/PreAuthorizationVariant.ts
  sdk/pre-authorized-debit-v1/src/anchor-client/types/UpdatePausePreAuthorizationParams.ts
  yarn.lock
Due: yarn run eslint --fix, yarn run prettier --write

fix: indentation detection in lib.rs was failing
  programs/pre-authorized-debit-v1/src/lib.rs
Due: cargo lint:fix:clippy, cargo lint:fix:fmt

chore: fix pre-commit hook
  .cargo/config.toml
  .husky/pre-commit
  .lintstagedrc
Due: none

chore: audit init_smart_delegate IX and tests
  program-tests/pre-authorized-debit-v1/init-smart-delegate.test.ts
  program-tests/pre-authorized-debit-v1/utils.ts
  programs/pre-authorized-debit-v1/src/instructions/init_smart_delegate.rs
  programs/pre-authorized-debit-v1/src/lib.rs
Due: yarn run eslint --fix, yarn run prettier --write, cargo lint:fix:clippy, cargo lint:fix:fmt

chore: add github action to test programs
  .github/program-tests.yml
Due: none

fix: remove .only from tests
  program-tests/pre-authorized-debit-v1/init-smart-delegate.test.ts
Due: yarn run eslint --fix, yarn run prettier --write

chore: rename step in CI
  .github/program-tests.yml
Due: none

fix: try running CI again
  .github/workflows/program-tests.yml
Due: none

fix: location of CI file
  .github/workflows/program-tests.yml
Due: none

feat: add program-tests status badge
  readme.md
Due: none

chore: trying out new github workflow
  .github/actions/solana-anchor-test/action.yml
  .github/workflows/program-tests.yml
Due: none

fix: broken CI
  .github/actions/solana-anchor-test/action.yml
  .github/workflows/program-tests.yml
Due: none

fix: try husky workaround in CI
  .github/workflows/program-tests.yml
Due: none

chore: try CI again
  .github/workflows/program-tests.yml
Due: none

fix: add chai-as-promised at root
  package.json
  yarn.lock
Due: none

fix: some tests + test failure detection
  program-tests/pre-authorized-debit-v1/close-smart-delegate.test.ts
  program-tests/pre-authorized-debit-v1/debit/oneTime.shared.ts
  program-tests/pre-authorized-debit-v1/debit/recurring.shared.ts
  scripts/test.js
Due: yarn run eslint --fix, yarn run prettier --write

fix: nested tests being skipped
  scripts/test.js
Due: yarn run eslint --fix, yarn run prettier --write

chore: test out signed commits
  yarn.lock
Due: none

chore: review and finalize close_smart_delegate IX
  programs/pre-authorized-debit-v1/src/instructions/close_smart_delegate.rs
Due: cargo lint:fix:clippy, cargo lint:fix:fmt

chore: review and finalize close_smart_delegate tests
  program-tests/pre-authorized-debit-v1/close-smart-delegate.test.ts
Due: yarn run eslint --fix, yarn run prettier --write

chore: review and finalize init_pre_authorization IX and tests
  program-tests/pre-authorized-debit-v1/init-pre-authorization.test.ts
  program-tests/pre-authorized-debit-v1/utils.ts
  programs/pre-authorized-debit-v1/src/instructions/init_pre_authorization.rs
  sdk/pre-authorized-debit-v1/src/anchor-client/instructions/closePreAuthorization.ts
  sdk/pre-authorized-debit-v1/src/anchor-client/instructions/closeSmartDelegate.ts
  sdk/pre-authorized-debit-v1/src/anchor-client/instructions/debit.ts
  sdk/pre-authorized-debit-v1/src/anchor-client/instructions/initPreAuthorization.ts
  sdk/pre-authorized-debit-v1/src/anchor-client/instructions/initSmartDelegate.ts
  sdk/pre-authorized-debit-v1/src/anchor-client/instructions/updatePausePreAuthorization.ts
  sdk/pre-authorized-debit-v1/src/anchor-client/types/PreAuthorizationCreatedEventData.ts
Due: yarn run eslint --fix, yarn run prettier --write, cargo lint:fix:clippy, cargo lint:fix:fmt

fix: fix failing tests
  program-tests/pre-authorized-debit-v1/close-pre-authorization.test.ts
  program-tests/pre-authorized-debit-v1/debit/oneTime.shared.ts
  program-tests/pre-authorized-debit-v1/debit/recurring.shared.ts
  program-tests/pre-authorized-debit-v1/update-pause-pre-authorization.test.ts
Due: yarn run eslint --fix, yarn run prettier --write

chore: dummy change
  readme.md
Due: none

chore: review and finalize update_pause_pre_authorization IX and tests
  program-tests/pre-authorized-debit-v1/init-pre-authorization.test.ts
  program-tests/pre-authorized-debit-v1/update-pause-pre-authorization.test.ts
  program-tests/pre-authorized-debit-v1/utils.ts
Due: yarn run eslint --fix, yarn run prettier --write

test: inital -> initial
  program-tests/pre-authorized-debit-v1/debit/oneTime.shared.ts
Due: yarn run eslint --fix, yarn run prettier --write

chore: regenerate lock file
  yarn.lock
Due: none

chore: undebitted -> un-debitted
  program-tests/pre-authorized-debit-v1/debit/recurring.shared.ts
Due: yarn run eslint --fix, yarn run prettier --write

chore: review and finalize close_pre_authorization IX and tests
  program-tests/pre-authorized-debit-v1/close-pre-authorization.test.ts
Due: yarn run eslint --fix, yarn run prettier --write

chore: spelling fixes (#27)
  program-tests/pre-authorized-debit-v1/debit/oneTime.shared.ts
  program-tests/pre-authorized-debit-v1/debit/recurring.shared.ts
  yarn.lock
Due: yarn run eslint --fix, yarn run prettier --write

chore: review and finalize smart_delegate state struct
  programs/pre-authorized-debit-v1/src/state/smart_delegate.rs
Due: cargo lint:fix:clippy, cargo lint:fix:fmt

chore: review and finalize pre_authorization state struct
  programs/pre-authorized-debit-v1/src/state/pre_authorization.rs
Due: cargo lint:fix:clippy, cargo lint:fix:fmt

test: add one-time partial debit tests
  program-tests/pre-authorized-debit-v1/debit/oneTime.shared.ts
Due: yarn run eslint --fix, yarn run prettier --write

fix: init pre_authorization does not allow negative timestamps as input
  program-tests/pre-authorized-debit-v1/init-pre-authorization.test.ts
  programs/pre-authorized-debit-v1/src/errors.rs
  programs/pre-authorized-debit-v1/src/instructions/debit.rs
  programs/pre-authorized-debit-v1/src/instructions/init_pre_authorization.rs
Due: yarn run eslint --fix, yarn run prettier --write, cargo lint:fix:clippy, cargo lint:fix:fmt

feat: regenerate anchor client
  sdk/pre-authorized-debit-v1/src/anchor-client/errors/custom.ts
  sdk/pre-authorized-debit-v1/src/anchor-client/types/InitPreAuthorizationParams.ts
  sdk/pre-authorized-debit-v1/src/anchor-client/types/InitPreAuthorizationVariant.ts
Due: yarn run eslint --fix, yarn run prettier --write

feat: add test for timestamp using u64::MAX value
  program-tests/pre-authorized-debit-v1/init-pre-authorization.test.ts
  programs/pre-authorized-debit-v1/src/instructions/init_pre_authorization.rs
Due: yarn run eslint --fix, yarn run prettier --write, cargo lint:fix:clippy, cargo lint:fix:fmt

chore: move validation to top of ix
  programs/pre-authorized-debit-v1/src/instructions/debit.rs
Due: cargo lint:fix:clippy, cargo lint:fix:fmt

chore: add codeowners
  .github/CODEOWNERS
Due: none

chore: add codeowners (#30)
  .github/CODEOWNERS
Due: none

test: add one-time partial debit tests (#29)
  program-tests/pre-authorized-debit-v1/debit/oneTime.shared.ts
Due: yarn run eslint --fix, yarn run prettier --write

test: validate that repeat frequency must be in the bounds of i64
  program-tests/pre-authorized-debit-v1/init-pre-authorization.test.ts
  programs/pre-authorized-debit-v1/src/errors.rs
  programs/pre-authorized-debit-v1/src/instructions/init_pre_authorization.rs
Due: yarn run eslint --fix, yarn run prettier --write, cargo lint:fix:clippy, cargo lint:fix:fmt
