Repository seabed-labs/pre-authorized-debit: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run eslint --fix, yarn run prettier --write, cargo lint:fix:fmt

.lintstagedrc:

{
  "*.js": ["yarn run eslint --fix", "yarn run prettier --write"],
  "*.ts": ["yarn run eslint --fix", "yarn run prettier --write"],
  "*.rs": ["cargo lint:fix:fmt"]
}

feat: regenerate anchor client
  sdk/pre-authorized-debit-v1/package.json
  sdk/pre-authorized-debit-v1/src/anchor-client/accounts/PreAuthorization.ts
  sdk/pre-authorized-debit-v1/src/anchor-client/accounts/SmartDelegate.ts
  sdk/pre-authorized-debit-v1/src/anchor-client/errors/custom.ts
Due: yarn run eslint --fix, yarn run prettier --write

chore: use workspace dependencies instead of hardcoded paths
  package.json
  program-tests/pre-authorized-debit-v1/init-pre-authorization.test.ts
  program-tests/pre-authorized-debit-v1/package.json
  scripts/e2e.ts
  scripts/package.json
  yarn.lock
Due: yarn run eslint --fix, yarn run prettier --write

test: remove .only
  program-tests/pre-authorized-debit-v1/init-pre-authorization.test.ts
Due: yarn run eslint --fix, yarn run prettier --write

test: validate that repeat frequency must be in the bounds of i64 (#31)
  package.json
  program-tests/pre-authorized-debit-v1/init-pre-authorization.test.ts
  program-tests/pre-authorized-debit-v1/package.json
  programs/pre-authorized-debit-v1/src/errors.rs
  programs/pre-authorized-debit-v1/src/instructions/init_pre_authorization.rs
  scripts/e2e.ts
  scripts/package.json
  sdk/pre-authorized-debit-v1/package.json
  sdk/pre-authorized-debit-v1/src/anchor-client/accounts/PreAuthorization.ts
  sdk/pre-authorized-debit-v1/src/anchor-client/accounts/SmartDelegate.ts
  sdk/pre-authorized-debit-v1/src/anchor-client/errors/custom.ts
  yarn.lock
Due: yarn run eslint --fix, yarn run prettier --write, cargo lint:fix:fmt

refactor: move available_amount calculation in recurring debit to a function
  programs/pre-authorized-debit-v1/src/instructions/debit.rs
Due: cargo lint:fix:fmt

test: add unit tests + run unit tests in anchor test
  Cargo.toml
  programs/pre-authorized-debit-v1/src/instructions/debit.rs
  scripts/test.js
Due: yarn run eslint --fix, yarn run prettier --write, cargo lint:fix:fmt

test: more exhaustive unit tests
  programs/pre-authorized-debit-v1/src/instructions/debit.rs
Due: cargo lint:fix:fmt

chore: update dev env
  .github/workflows/program-tests.yml
Due: none

remove postinstall since yarnv3 doesn't use it
  package.json
Due: none

fix: CI
  .github/workflows/program-tests.yml
Due: none

chore: lock CI action version to v1.1.0
  .github/workflows/program-tests.yml
Due: none

test: recurring debit tests with negative timestamp
  program-tests/pre-authorized-debit-v1/debit/recurring.shared.ts
Due: yarn run eslint --fix, yarn run prettier --write

test: one-time debit tests with negative timestamp
  program-tests/pre-authorized-debit-v1/debit/oneTime.shared.ts
Due: yarn run eslint --fix, yarn run prettier --write

refactor: split tests as suggested
  programs/pre-authorized-debit-v1/src/instructions/debit.rs
Due: cargo lint:fix:fmt

chore: address comments
  program-tests/pre-authorized-debit-v1/debit/oneTime.shared.ts
Due: yarn run eslint --fix, yarn run prettier --write

test: unit test compute_available_amount_for_recurring_debit (#32)
  .github/workflows/program-tests.yml
  Cargo.toml
  package.json
  program-tests/pre-authorized-debit-v1/debit/oneTime.shared.ts
  program-tests/pre-authorized-debit-v1/debit/recurring.shared.ts
  programs/pre-authorized-debit-v1/src/instructions/debit.rs
  scripts/test.js
Due: yarn run eslint --fix, yarn run prettier --write, cargo lint:fix:fmt

feat: add more data to debit event
  programs/pre-authorized-debit-v1/src/instructions/debit.rs
Due: cargo lint:fix:fmt

chore: review debit IX and make updates
  programs/pre-authorized-debit-v1/src/instructions/debit.rs
Due: cargo lint:fix:fmt

chore: review debit recurring tests and make updates
  program-tests/pre-authorized-debit-v1/debit/recurring.shared.ts
Due: yarn run eslint --fix, yarn run prettier --write

chore: review debit one-time tests and make updates
  program-tests/pre-authorized-debit-v1/debit/oneTime.shared.ts
Due: yarn run eslint --fix, yarn run prettier --write

chore: only run CI on PRs ready for review
  .github/workflows/program-tests.yml
Due: none

chore: audit debit IX and tests (#34)
  program-tests/pre-authorized-debit-v1/debit/oneTime.shared.ts
  program-tests/pre-authorized-debit-v1/debit/recurring.shared.ts
  programs/pre-authorized-debit-v1/src/instructions/debit.rs
Due: yarn run eslint --fix, yarn run prettier --write, cargo lint:fix:fmt

chore: only run CI on PRs ready for review (#35)
  .github/workflows/program-tests.yml
Due: none

feat: make smart_delegate a global account
  package.json
  program-tests/pre-authorized-debit-v1/close-pre-authorization.test.ts
  program-tests/pre-authorized-debit-v1/close-smart-delegate.test.ts
  program-tests/pre-authorized-debit-v1/debit/oneTime.shared.ts
  program-tests/pre-authorized-debit-v1/debit/recurring.shared.ts
  program-tests/pre-authorized-debit-v1/init-pre-authorization.test.ts
  program-tests/pre-authorized-debit-v1/init-smart-delegate.test.2.ts
  program-tests/pre-authorized-debit-v1/init-smart-delegate.test.ts
  program-tests/pre-authorized-debit-v1/package.json
  program-tests/pre-authorized-debit-v1/setup.ts
  program-tests/pre-authorized-debit-v1/update-pause-pre-authorization.test.ts
  program-tests/pre-authorized-debit-v1/utils.ts
  programs/pre-authorized-debit-v1/src/errors.rs
  programs/pre-authorized-debit-v1/src/instructions/close_smart_delegate.rs
  programs/pre-authorized-debit-v1/src/instructions/debit.rs
  programs/pre-authorized-debit-v1/src/instructions/init_smart_delegate.rs
  programs/pre-authorized-debit-v1/src/instructions/mod.rs
  programs/pre-authorized-debit-v1/src/lib.rs
  programs/pre-authorized-debit-v1/src/state/smart_delegate.rs
  scripts/test.js
  sdk/pre-authorized-debit-v1/package.json
  sdk/pre-authorized-debit-v1/src/anchor-client/accounts/SmartDelegate.ts
  sdk/pre-authorized-debit-v1/src/anchor-client/errors/custom.ts
  sdk/pre-authorized-debit-v1/src/anchor-client/instructions/closeSmartDelegate.ts
  sdk/pre-authorized-debit-v1/src/anchor-client/instructions/debit.ts
  sdk/pre-authorized-debit-v1/src/anchor-client/instructions/index.ts
  sdk/pre-authorized-debit-v1/src/anchor-client/instructions/initSmartDelegate.ts
  sdk/pre-authorized-debit-v1/src/anchor-client/types/DebitAuthorizationType.ts
  sdk/pre-authorized-debit-v1/src/anchor-client/types/DebitEventVariant.ts
  sdk/pre-authorized-debit-v1/src/anchor-client/types/index.ts
Due: yarn run eslint --fix, yarn run prettier --write, cargo lint:fix:fmt

ci: run both batches in GH workflow
  .github/workflows/program-tests.yml
Due: none

feat: remove un-used error
  program-tests/pre-authorized-debit-v1/update-pause-pre-authorization.test.ts
  programs/pre-authorized-debit-v1/src/errors.rs
  sdk/pre-authorized-debit-v1/src/anchor-client/errors/custom.ts
Due: yarn run eslint --fix, yarn run prettier --write, cargo lint:fix:fmt

ci: hardcode pad path
  .github/workflows/program-tests.yml
Due: none

ci: use new CI workflow
  .github/workflows/program-tests.yml
  scripts/test.js
Due: yarn run eslint --fix, yarn run prettier --write

ci: use matrix
  .github/workflows/program-tests.yml
Due: none

feat: make smart_delegate a global account (#33)
  .github/workflows/program-tests.yml
  package.json
  program-tests/pre-authorized-debit-v1/close-pre-authorization.test.ts
  program-tests/pre-authorized-debit-v1/close-smart-delegate.test.ts
  program-tests/pre-authorized-debit-v1/debit/oneTime.shared.ts
  program-tests/pre-authorized-debit-v1/debit/recurring.shared.ts
  program-tests/pre-authorized-debit-v1/init-pre-authorization.test.ts
  program-tests/pre-authorized-debit-v1/init-smart-delegate.test.2.ts
  program-tests/pre-authorized-debit-v1/init-smart-delegate.test.ts
  program-tests/pre-authorized-debit-v1/package.json
  program-tests/pre-authorized-debit-v1/setup.ts
  program-tests/pre-authorized-debit-v1/update-pause-pre-authorization.test.ts
  program-tests/pre-authorized-debit-v1/utils.ts
  programs/pre-authorized-debit-v1/src/errors.rs
  programs/pre-authorized-debit-v1/src/instructions/close_smart_delegate.rs
  programs/pre-authorized-debit-v1/src/instructions/debit.rs
  programs/pre-authorized-debit-v1/src/instructions/init_smart_delegate.rs
  programs/pre-authorized-debit-v1/src/instructions/mod.rs
  programs/pre-authorized-debit-v1/src/lib.rs
  programs/pre-authorized-debit-v1/src/state/smart_delegate.rs
  scripts/test.js
  sdk/pre-authorized-debit-v1/package.json
  sdk/pre-authorized-debit-v1/src/anchor-client/accounts/SmartDelegate.ts
  sdk/pre-authorized-debit-v1/src/anchor-client/errors/custom.ts
  sdk/pre-authorized-debit-v1/src/anchor-client/instructions/closeSmartDelegate.ts
  sdk/pre-authorized-debit-v1/src/anchor-client/instructions/debit.ts
  sdk/pre-authorized-debit-v1/src/anchor-client/instructions/index.ts
  sdk/pre-authorized-debit-v1/src/anchor-client/instructions/initSmartDelegate.ts
  sdk/pre-authorized-debit-v1/src/anchor-client/types/DebitAuthorizationType.ts
  sdk/pre-authorized-debit-v1/src/anchor-client/types/DebitEventVariant.ts
  sdk/pre-authorized-debit-v1/src/anchor-client/types/index.ts
Due: yarn run eslint --fix, yarn run prettier --write, cargo lint:fix:fmt

feat: add security.txt
  Cargo.lock
  SECURITY.md
  programs/pre-authorized-debit-v1/Cargo.toml
  programs/pre-authorized-debit-v1/src/lib.rs
Due: cargo lint:fix:fmt

fix: links to same doc
  SECURITY.md
Due: none

Revert "fix: links to same doc"
  SECURITY.md
Due: none

docs: add bounty anchor
  SECURITY.md
Due: none

feat: update links to seabed labs org
  programs/pre-authorized-debit-v1/src/lib.rs
Due: cargo lint:fix:fmt

feat: add security.txt (#36)
  Cargo.lock
  SECURITY.md
  programs/pre-authorized-debit-v1/Cargo.toml
  programs/pre-authorized-debit-v1/src/lib.rs
Due: cargo lint:fix:fmt

feat: approve delegate in init pad
  programs/pre-authorized-debit-v1/src/instructions/init_pre_authorization.rs
Due: cargo lint:fix:fmt

feat: regenerate anchor client
  sdk/pre-authorized-debit-v1/src/anchor-client/instructions/initPreAuthorization.ts
Due: yarn run eslint --fix, yarn run prettier --write

test: update tests
  program-tests/pre-authorized-debit-v1/close-pre-authorization.test.ts
  program-tests/pre-authorized-debit-v1/debit/oneTime.shared.ts
  program-tests/pre-authorized-debit-v1/debit/recurring.shared.ts
  program-tests/pre-authorized-debit-v1/init-pre-authorization.test.ts
  program-tests/pre-authorized-debit-v1/tsconfig.json
  program-tests/pre-authorized-debit-v1/update-pause-pre-authorization.test.ts
  programs/pre-authorized-debit-v1/src/instructions/init_pre_authorization.rs
  sdk/pre-authorized-debit-v1/src/anchor-client/instructions/initPreAuthorization.ts
Due: yarn run eslint --fix, yarn run prettier --write, cargo lint:fix:fmt

chore: add seed verification for smart_delegate in init_pre_authorization IX
  programs/pre-authorized-debit-v1/src/instructions/init_pre_authorization.rs
Due: cargo lint:fix:fmt
